basePath: /api/v1/
definitions:
  auth.RegisterRequest:
    properties:
      confirmPassword:
        description: Re-enter password - Must equal password
        example: "123456789"
        type: string
      email:
        description: User's email
        example: john@gopher.com
        type: string
      fullName:
        description: User's full name
        example: John Doe
        type: string
      password:
        description: User's password
        example: "123456789"
        minLength: 8
        type: string
    required:
    - confirmPassword
    - email
    - fullName
    - password
    type: object
  auth.RegisterResponse:
    properties:
      message:
        description: Successfully registered message
        example: Registration successful. Please check your email
        type: string
      user:
        allOf:
        - $ref: '#/definitions/auth.User'
        description: User's information
    required:
    - message
    - user
    type: object
  auth.User:
    properties:
      createdAt:
        type: string
      email:
        type: string
      fullName:
        type: string
      id:
        type: string
      isActive:
        type: boolean
      updatedAt:
        type: string
    type: object
host: localhost:3000
info:
  contact:
    email: vungocthuan1234@gmail.com
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server for Auth Service.
  termsOfService: http://swagger.io/terms/
  title: Gopher Swagger Example API
  version: "1.0"
paths:
  /auth/register:
    post:
      consumes:
      - application/json
      description: Register a new user with email and password. The system also send
        a verification email to user
      parameters:
      - description: User Registration Data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/auth.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/auth.RegisterResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: User Registration
      tags:
      - Authentication
schemes:
- http
- https
swagger: "2.0"
